<!DOCTYPE html>
<html>
    <head>
        <title>Checkout</title>
        {% load static %}
         {% load custom_tags %}
        <link rel="stylesheet" type="text/css" href="{% static 'products/results.css' %}">
    </head>
    <body>
    <h1>Корзина пользователя</h1>
    <h3><b><a href="{% url 'products:home' %}" style="color: #008B8B; " >Назад к поиску</a></b></h3>
    <table>
        <thead>
            <th>
                Название
            </th>
            <th>
                Цена
            </th>
            <th>
                Количество
            </th>
        </thead>
        <tbody>
        {% for item in basket %}
        <tr>
            <td>
                <a href="{% url 'products:details' item.prod.pr_id %}">{{item.prod.pr_title}}</a>
            </td>
            <td>
                {% multiply a=course  b=item.prod.pr_price %}
            </td>
            <td>
                {{item.num}}
            </td>
            <td>
                <form action="{% url 'products:del' item.prod.pr_id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>

    <p><b>Total:</b>{% multiply a=total b=course %}</p>
    <form action="{% url 'products:buy' request.user.id %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Купить">
    </form>
    </body>
</html>