<!DOCTYPE html>
<html>
	<head>
		<title>Homepage</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'products/main.css' %}">
	</head>
	<body>
	    {% block content %}
		<h1> Online Store </h1>
		<a href="{% url 'products:signup' %}">Регистрация</a>
		<a href="{% url 'products:login' %}">Вход</a>
		<form action="{% url 'products:results' %}" method="GET">
		    <div class="md-form mt-0">
  				<input name="res" class="form-control" type="text" placeholder="Search" aria-label="Search">
			</div>
		</form>
        {% endblock %}
	</body>
</html>