<!DOCTYPE html>
<html>
    <head>
        <title>Homepage</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
              integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
              crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'products/results.css' %}">
    </head>
    <body >
    <header class="page-header bg-light">
        <div class="container-fluid ">
            <nav class="navbar navbar-expand-sm bg-light justify-content">
                <div class="container-fluid">
             {% if user.is_authenticated %}
                    <div class="navbar-header">
                             <a class="navbar-brand" href="{% url 'products:home' %}">
                                 {{ request.user }}</a>
                    </div>
                    {% else %}
                    <div class="navbar-header">
                             <a class="navbar-brand" href="{% url 'products:home' %}">
                                 by Nastiushka and Natashka</a>
                    </div>
                    {% endif %}
                    <form class="mx-2 my-auto d-inline w-100" action="{% url 'products:results' %}" method="GET" >

                            <input name="res" class="form-control" type="text" placeholder="Search" aria-label="Search">

                    </form>
                          <ul class="navbar-nav ml-auto navbar-right" >
                              {% if user.is_authenticated %}
                          <li >
                            <a class="nav-link" href="{% url 'products:logout' %}">Logout</a>
                          </li>
                          <li >
                            <a class="nav-link" href="{% url 'products:checkout' user_id=request.user.id course=1%}"><i class="fa fa-shopping-basket"></i></a>
                          </li>
                          <li >
                             <a class="nav-link" href="{% url 'products:history' request.user.id %}"><i class="fa fa-history"></i></a>
                          </li>
                          {% csrf_token %}
                          {% else %}
                          <li>
                              <a class="nav-link" href="{% url 'products:signup' %}">Signup</a>
                          </li>
                          <li >
                               <a class="nav-link" href="{% url 'products:login' %}">Login</a>
                          </li>
                         {% endif %}
                          </ul>
                </div>
            </nav>
          </div>
    </header>
    <main>
        {% block content %}
        <div class="container-fluid">
            <table>
                <thead>
                    <th>
                        <h3>Рекомендации</h3>
                    </th>
                </thead>
                <tbody>
                {% for item in recommend %}
                <tr>
                    <td>
                        <a href="{% url 'products:details' pr_id=item.pr_id course=1 %}">{{item.pr_title}}</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class = "container-fluid">
            <table>
                <thead>
                <th>Курс валюты</th>
                <th>USD</th>
                <th>GBP</th>
                </thead>
                <tr>
                    <td>{{ date }}</td>
                    <td>{{ USD }}</td>
                    <td>{{ GBP }}</td>
                </tr>
            </table>
        </div>
        <div class="container-fluid">
        <div class = "row">
            <div class = "col-4">
        <img src="https://kwork.com/pics/t3/68/405928-1.jpg" alt="Italian Trulli">
            </div>
            <div class = "col-3">
        <img src="https://media.giphy.com/media/iXV2LWfFiI9lRUdnaB/giphy.gif" alt="Italian Trulli">
            </div>
            <div class = "col-5">
        <img src="https://kwork.com/pics/t3/68/405928-1.jpg" alt="Italian Trulli">
            </div>
        </div>
        </div>
        {% endblock %}
    </main>
    </body>
</html>