<!DOCTYPE html>
<html>
    <head>
        <title>Homepage</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'products/main.css' %}">
    </head>
    <body>
    {% if user.is_authenticated %}
    {{ request.user }} | <a href="{% url 'products:logout' %}">logout</a>|
    <a href="{% url 'products:checkout' request.user.id%}">checkout</a>|
    <a href="{% url 'products:history' request.user.id%}">history</a>
    {% csrf_token %}
    {% else %}
    <a href="{% url 'products:signup' %}">Sign up</a> | <a href="{% url 'products:login' %}">login</a>
    {% endif %}
        <h1> Online Store </h1>
        <form action="{% url 'products:results' %}" method="GET">
            <div class="md-form mt-0">
                  <input name="res" class="form-control" type="text" placeholder="Search" aria-label="Search">
            </div>
        </form>
        {% block content %}
        <p>bla bla bla</p>
        {% endblock %}
    </body>
</html>